.portfolio{
    width: 100%;
    height: 100vh;
}
.social a{
    display: flex;
    justify-content: center;
}

.social{
    height: 100vh;
    width: 10%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;    
}